/* Modal.module.css */
.modal {
    position: relative;
    width: 80%;
    margin: auto;
    margin-top: 10px;
    padding: 20px;
    background: white;
    border-radius: 8px;
    z-index: 1001;
    max-height: 90vh;
    overflow: hidden;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    /* Ensure overlay is below the modal */
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

.modalContent {
    max-height: 80vh;
    /* Set a maximum height for the content area */
    overflow-y: auto;
    /* Enable vertical scrolling */
    padding-right: 10px;
    /* Add some padding to avoid scrollbar overlap */
}