.vmbody {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.container2xl {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: #ffffff;
}

.sContainer {
  width: 100%;
}

.vmHeading {
  color: #ffffff;
  font-size: 32px;
  margin: 20px 0;
  font-weight: 500;
  padding: 15px 20px;
  border-radius: 8px;
  background: linear-gradient(89deg, #005D99 8.63%, #E9DE4D 95.43%), #ffffff;
}

.vmSubheading {
  color: #000000;
  font-size: 24px;
  font-weight: 550;
  margin: 15px 0;
  text-align: start;
}

.vmParagraph {
  color: #383636;
  font-size: 18px;
  margin: 10px 0;
  line-height: 1.8;
}

.vmList {
  color: #333333;
  margin: 10px 0;
  padding-left: 20px;
  font-size: 18px;
  list-style: disc;
}

.vmList li {
  margin-bottom: 10px;
  line-height: 1.8;
}

/* .vmList li:hover {
  color: #000000;
  cursor: pointer;
  transform: scale(1.05);
} */